
<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" a href="/css/splashPage.css">
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li class="active"><a href="#">Item 1 </a></li>
                <li><a href="/item2">Item 2</a></li>
              </ul>
            </div>
          </nav>

      <section id="splashPage" class="">
          <div id="imageOverlay"><div id="colorOverlay">
            <!-- button controls -->
              <div id="overlayContainer">
                <div class="white smooth" id="topText"><i><h1>"Donate for a fellow New Yorker in need"</h1></i></div>
                <div class="large white smooth" id="bottomButton"><input id="donateButton" type="button" value="Donate"/></div>
              </div>
          </div>
        </div>
      </section>
    </body>
</html>
