* {
  padding: 0;
  margin: 0;
}

#list {
  position: relative;
  width: 30%;
  float: left;
  height: 100vh;
  background-color: #383838;
  padding-top: 10px;
  overflow: auto;
}

#dataTable #tableCell {
  height: 120px;
  width: 95%;
  background-color: #fff;
  margin-left: 10px;
  margin-right: -10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
